<div class="container bg-light">
  <div class="row">
    <div class="col-7 m-auto">
<h1 class="text-center">Cadastro de Alunos</h1>

<form>
  <div class="mb-3">
    <label for="matricula" class="form-label">Matricula</label>
    <input type="text" class="form-control" id="matricula" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome">
  </div>
  <div class="mb-3">
    <label for="curso" class="form-label">Curso</label>
    <input type="text" class="form-control" id="curso">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

</div>
</div>
